#todo
    .box
        width: 225px
        padding: 20px
        background-color: #9c6644
        border-radius: 20px
        margin-bottom: 40px
        .textbox
            h1
                color: #ffff
                font-size: 30px
                font-weight: 700
        .add
            input
                margin: 20px 0
                padding: 10px
                width: 180px
                border-radius: 18px   
        .btn
            font-size: 18px
            padding: 6px 15px
            background-color: #ffff  
            border-radius: 18px  
    .minibox
        h2
            width: 150px
            margin: 10px 0
            padding: 10px 8px
            border-radius: 20px
            border: 2px solid #626a77
            word-wrap: break-word